* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:focus {
    outline: none;
}

.clear {
    clear: both;
}

main {
    padding: 10px;
    position: relative;
}

main > div.container {

    width: 50%;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

main > div.container > div.row {
    padding: 5px 5px 0 5px;
    width: 100%;
    color: #333;
}

main > div.container > div.row:last-child {
    padding-bottom: 5px;
}


main > div.container > div.row > input#url {
    width: 90%;
    float: left;
    padding: 10px;
    background-color: #eee;
    border: 1px solid #999;
    outline: none;
}
main > div.container > div.row > button#search {
    width: 9.4%;
    float: right;
    padding: 10px;
    background-color: #eee;
    border: 1px solid #999;
    outline: none;
    cursor: pointer;
}

main > div.container > div.row > div#message {
    background-color: #EEE;
    color: #333;
    text-align: center;
    padding: 10px;
    border: 1px solid #F00;
    font-family: monospace;
    border-radius: 5px;
    position: relative;
    display: none;

}

main > div.container > div.row > div.image {
    width: 100%;
    text-align: center;
    display: none;
}
main > div.container > div.row > div.image > img#imageElement {
    padding: 5px;
    width: 50%;
    border: 1px solid #999;
}
